.image-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.image-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.image-card-link {
  text-decoration: none;
  color: inherit;
}

.image-card:hover {
  transform: scale(1.05);
}
