<div class="min-h-screen bg-gray-100">

  <main class="max-w-7xl mx-auto px-4 py-6">
    <ng-container *ngIf="allClasses.length > 0; else loading">
    <div class="class-toggle-panel">
      <h3>Select Active Classes</h3>
      <div class="classes-grid">
        <button
          *ngFor="let label of allClasses"
          [class.active]="isActive(label)"
          (click)="toggleClass(label)"
        >
          {{ label }}
        </button>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="loader bouncing-dots"></div>
  </ng-template>

  <button class="edit-btn" (click)="updateActiveClassOverlay()">
    Edit Active Classes
  </button>
  </main>
</div>
